.btnCarrito {
    position: absolute;
    right: 15px;
    top: 155px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    border: 2px solid #5b5a5a;
    background-color: #f4e7d2;
    padding: 5px;

    & img {
        width: 100%;
    }

    #contadorCarrito {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 4px auto;
        width: 20px;
        height: 20px;
        text-align: center;
        font-weight: bold;
        border-radius: 50%;
    }
}


.btnCarrito:hover {
    cursor: pointer;
    border: 3px solid var(--action_color);
}

.pantallaCarrito {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #41414176;
    width: 40%;
    max-width: 500px;
    min-width: 290px;
    box-shadow: -5px 0 10px #000;
}

.btnCarrito:active+div {
    display: block;
}

.pantallaCarrito:hover {
    display: block;
    z-index: 100;
}

.contenedorCarrito {
    float: right;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff75, #ffffff75), url(../assets/imgfondos/interiorPhoenix02.jpg);

    .tituloCarrito {
        width: 150px;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        background-color: #f5deb3e6;
        border-radius: 10px;
    }


    .carrito {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        max-height: 65vh;
        overflow-y: scroll;

        .prodNombre {
            font-size: 1.2rem;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;

            .btnEliminarProducto {
                font-size: 1rem;
                color: white;
                padding: 1px 5px;
                border: 1px solid;
                background-color: var(--rojo-palido);
                border-radius: 50%;
            }

            .btnEliminarProducto:hover {
                background-color: var(--rojo);
                cursor: pointer;
            }
        }

        .datos {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid #5b5a5a;

            & p {
                margin-right: 5px;
                padding-left: 10px;
                border-left: 1px solid #5b5a5a;
            }

            & p:first-of-type {
                border-left: none;
            }
        }
    }

    .total {
        margin: 20px;
        font-size: 1.2rem;
    }

    & button {
        margin: 10px;
        padding: 10px;
        box-shadow: 10px 10px 10px wheat, -10px -10px 10px wheat;
    }

    .confirmar {
        color: white;
        background-color: var(--action_color);
        font-weight: bold;
        border-radius: 10px;
    }

    .confirmar:hover {
        background-color: var(--verde-confirmar);
        cursor: pointer;
    }

    #btnEliminarCarrito {
        color: white;
        background-color: var(--rojo-palido);
        font-weight: bold;
        border-radius: 10px;
    }

    #btnEliminarCarrito:hover {
        background-color: var(--rojo);
        cursor: pointer;
    }

}


.fichaTecnica {
    & img {
        width: 300px;
    }

    & p {
        margin-bottom: 5px;
        text-align: left;
    }

    & p:first-of-type {
        display: inline-block;
        padding: 5px;
        border: 1px solid;
        text-align: center;
        font-style: italic;
        margin-bottom: 10px;
    }
}

@media (min-width: 700px) {


    .btnCarrito {
        right: 50px;
        top: 50px;
    }
}