.btnCarrito {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    border: 2px solid #5b5a5a;
    background-color: #f4e7d2;
    padding: 5px;

    & img {
        width: 100%;
    }

    #contadorCarrito {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 4px auto;
        width: 20px;
        height: 20px;
        text-align: center;
        font-weight: bold;
        border-radius: 50%;
    }
}

.btnCarrito:hover {
    cursor: pointer;
}

.pantallaCarrito {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #41414176;
    width: 40%;
    max-width: 500px;
    min-width: 250px;
}

.btnCarrito:active+div {
    display: block;
}

.pantallaCarrito:hover {
    display: block;
}

.contenedorCarrito {
    float: right;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: aliceblue;

    .tituloCarrito {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }


    .carrito {
        .prodNombre {
            font-size: 1.2rem;
        }

        .datos {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid #5b5a5a;

            & p {
                margin-right: 5px;
                padding-left: 10px;
                border-left: 1px solid #5b5a5a;
            }
            & p:first-of-type{
                border-left: none;
            }
        }
    }

    .total {
        margin: 20px;
        font-size: 1.2rem;
    }

    & button {
        margin: 10px;
        padding: 10px;
    }

    #btnConfirmar {
        color: white;
        background-color: #5e5eec;
        font-weight: bold;
        border-radius: 10px;
    }
    #btnConfirmar:hover {
        background-color: #8ecb98;
    }

    #btnEliminarCarrito {
        color: white;
        background-color: #db7963;
        font-weight: bold;
        border-radius: 10px;
    }
    #btnEliminarCarrito:hover {
        background-color: #e74949;
    }

}