@import "./reset+variables.css";
@import "./carrito.css";
@import "./tarjetaProducto.css";
@import "./pedido.css";

body {
    background: url(../assets/imgfondos/muralExterior02.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "ubuntu";
}

header {
    background-color: var(--negro);
    height: 150px;
    box-shadow: 10px 0 10px #000;
    margin-bottom: 300px;
}

h1 {
    color: var(--rojo);
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}


main {
    padding: 20px;


    .imagenInicio {
        height: 300px;

    }

}

footer {
    margin-top: 20px;

    & div {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--negro);
        height: 300px;
        color: white;
        font-weight: bold;
        text-align: center;

        .footer__img {
            display: none;
            width: 300px;

            img {
                width: 100%;
            }
        }

        & a {
            color: white;
        }
    }
}

@media (min-width: 700px) {

    footer {
        & div {
            justify-content: start;

            .footer__img {
                display: block;
            }
        }
    }
}