@import "./reset+variables.css";
@import "./carrito.css";
@import "./tarjetaProducto.css";
@import "./pedido.css";

body{
    background: url(../assets/imgfondos/muralExterior02.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-color: wheat;
    height: 150px;
    box-shadow: 10px 0 10px #000;
}
h1 {
    color: var(--rojo);
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}

main {
    padding: 20px;
   

    .imagenInicio {
        height: 300px;

    }

}

/* footer{
    & div{
        background: url(../assets/imgfondos/muralPhoenix.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
       
    }
} */