.productos {
    margin: 10px auto;
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    .tarjetaProducto {
        position: relative;
        width: 300px;
        /* border: 2px solid; */
        padding-bottom: 10px;
        border-radius: 10px;
        background-color: #fffffff4;
        box-shadow: 5px 5px 10px #000;
        .caratulaProducto {
            /* height: 235px; */
            width: 100%;
            margin-bottom: 20px;

            & img {
                width: 100%;
                border-radius: 5px 5px 0 0;
            }
        }

        & h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        & h4 {
            margin: 10px 20px;
        }

        .formatoProducto {
            position: relative;
            margin: 5px;
            height: 69px;
            display: flex;
            justify-content: center;

            .precioProducto {
                visibility: hidden;
                font-size: 1.5rem;
                margin-top: 10px;
            }
    

            .selecPeso {
                display: none;
            }

            .selecPeso+label {
                display: inline-block;
                padding: 5px;
                color: #363636d6;
                border: 2px solid #363636d6;
            }

            /*funcionamiento mecanismo seleccionador de peso*/
            .selecPeso+label:hover{
                cursor: pointer;
            }
            .selecPeso:checked+label {
                background-color: var(--action_color);
                color: white;
                font-weight: bold;
                border: 2px solid var(--negro);
                border-radius: 5px;
                ;
            }

            .selecPeso:checked+label+div {
                visibility: visible;
            }
        }

        .moliendaProducto {
            margin: 10px;
            padding: 10px;
            & label {
                font-weight: bold;
                display: inline-block;
                margin: 5px;
            }
            & select{
                padding: 5px;
            }
        }
        .cantidadDiv{
            margin: 10px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .btnAgregarCarrito{
            display: block;
            width: 80%;
            margin: 20px auto;
            padding: 10px;
            background-color: var(--action_color);
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            text-align: center;
            border: 1px solid #000;
            border-radius: 5px;
        }
        .btnAgregarCarrito:hover{
            background-color: var(--verde-confirmar);
            color: #000;
        }
        .btnAgregarCarrito:active{
            border: inset 1px #000;
        }


    }
    .tarjetaProducto:hover{
        outline: 3px solid var(--action_color);
    }
}

.noDisponible {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffffa0 10%, white 150px, #ffffffa0 50%);
    color: #000;
    cursor: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}