.productos {
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .tarjetaProducto {
        width: 250px;
        height: 400px;
        border: solid;
        padding: 5px;

        .caratulaProducto {
            height: 200px;
            width: 100%;
            background-color: aqua;
        }

        & h3 {
            text-align: center;
        }

        .precioProducto{
            visibility: hidden;
        }
        .selecPeso {
            display: none;
        }

        .selecPeso:checked+label {
            background-color: yellowgreen;
            ;
        }
        .selecPeso:checked+label+div {
            visibility: visible;
        }
    }
}